.completed{
	color :red;
	text-decoration: line-through;
	font-style: italic;
}
#divTaskCount{
	font-size: 28pt;
	color: grey;
}
#divOfflineStatus{
	right : 0px;
	color : yellow;
	font-weight: bold;
	font-style: italic;
	border: 1px solid black;
	padding: 5px;
	float : right;
	text-align: right;
	background-color: black;
}

#divCacheUpdateReady{
	display: none;
}
